html {
  height: 100%;
}

body {
  background: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container { 
  position: relative;
  margin: 50px auto;
  width: 500px;
  height: 500px;
}
/* Machine */
.machine { 
  position: absolute;
  left: 210px;
  top: 120px;
  width: 200px;
  height: 140px;
  border-radius: 10px 10px 10px 10px;
}
.machine_center { 
  background: #BFA66F;
  position: absolute;
  width: 185px;
  height: 160px;
  border-radius: 10px 10px 0px 0px;
}
.machine_bottom { 
  background: #000;
  position: absolute;
  left: -4px;
  top: 160px;
  width: 193px;
  height: 10px;
  border-radius: 10px 10px 5px 5px;
}
.machine_line {
  position: absolute;
  width: 185px;
  height: 20px;
  top: 20px;
  border-top: 8px solid #EDEDED;
}
.machine_maker_inner{
  background: #000;
  position: absolute;
  left: 60px;
  width: 58px;
  height: 150px;
  border-radius: 20px 20px 5px 5px;
  border: 5px solid #755D2C;
}
.machine_maker_outer {
  background: #85837F;
  position: absolute;
  left: 64px;
  top: 5px;
  width: 50px;
  height: 45px;
  border-radius: 15px 15px 5px 5px;
  border: 5px solid #000;
  border-bottom: 0px;
}
.machine_prop {
  background: #BFA66F;
  position: absolute;
  left: 62px;
  top: 133px;
  width: 55px;
  height: 20px;
  border-radius: 5px 5px 8px 8px;
  border: 4px solid #161616;
}
.light {
  background: #000;
  position: absolute;
  top: 20px;
  left: 88px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: light 1.2s infinite ease-in;
}

/* Cup*/
.cup_body {
  background: #fff;
  position: absolute;
  left: 72px;
  top: 92px;
  width: 40px;
  height: 40px;
  border-radius: 2px 2px 5px 5px;
}

.cup_handle {
  background: #000;
  position: absolute;
  left: 95px;
  top: 97px;
  width: 15px;
  height: 10px;
  border-radius: 5px 5px 10px 10px;
  border: 5px solid #fff;
}


/* Coffee */
.coffee { 
  background: #7A522E;
  position: absolute;
  top: 110px;
  left: 74px;
  width: 36px;
  height: 20px;
  border-radius: 0px 0px 5px 5px;
}
.coffee_drop {
  background: #7A522E;
  position: absolute;
  top: 20px;
  left: 90px;
  width: 6px;
  height: 45px;
  border-radius: 5px 5px 5px 5px;
  animation: drop 1.2s infinite ease-in;
}

.coffee_animation_01, 
.coffee_animation_02 { 
  background: #7A522E;
  position: absolute;
  top: 107px;
  left: 74px;
  width: 36px;
  height: 10px;
  border-radius: 5px 5px 5px 5px;
}
.coffee_animation_01 {
  animation: ca1 1s infinite ease-in;
}
.coffee_animation_02{
  animation: ca2 2s infinite ease-in;
}

/* Animation */
@keyframes ca1 {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(12deg);}
}

@keyframes ca2 {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(-12deg);}
}

@keyframes light {
  from {background-color: #F4F2AD;}
  to {background-color: #000;}
}

@keyframes drop {
  from {top: 10px;}
  to {top: 80px;}
}