<svg width="43px" height="43px" viewBox="28 52 43 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="menu-icon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(28.000000, 52.000000)">
        <rect id="1" fill="#000000" x="0" y="0" width="10" height="10" rx="1"></rect>
        <rect id="2" fill="#000000" x="0" y="16" width="10" height="10" rx="1"></rect>
        <rect id="3" fill="#000000" x="0" y="32" width="10" height="10" rx="1"></rect>
        <rect id="4" fill="#000000" x="16" y="0" width="10" height="10" rx="1"></rect>
        <rect id="5" fill="#000000" x="16" y="16" width="10" height="10" rx="1"></rect>
        <rect id="6" fill="#000000" x="16" y="32" width="10" height="10" rx="1"></rect>
        <rect id="7" fill="#000000" x="32" y="0" width="10" height="10" rx="1"></rect>
        <rect id="8" fill="#000000" x="32" y="16" width="10" height="10" rx="1"></rect>
        <rect id="9" fill="#000000" x="32" y="32" width="10" height="10" rx="1"></rect>
    </g>
</svg>
