.categories-container {
  padding-top: 2rem;
}
.categories-title {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.25rem;
  padding-left: 1rem;
  color: #713A1E;
}

.categories-subtitle {
  padding-left: 1rem;
  font-size: 1rem;
  color: rgb(140,140,140);
}

.categories-drinks {
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  padding: 1rem;
}

.drink-container {
  width: 10rem;
  padding: 4rem 1rem;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  & + .drink-container {
    margin-left: 0.5rem;
  }
}

.drink-name {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.75rem;
  color: #713A1E;
}

.drink-img {
  position: relative;
}

.card-bgr {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.card-container {
  // height: 100%;
  // width: 100%;
  // border-radius: 10px;
  padding: 5vh 5vw 0 5vw;
  // -webkit-overflow-scrolling: touch;
  // overflow-y: auto;
}

.card-name {
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  color: white;
  margin-top: 2rem;
  // margin-bottom: 2rem;
  letter-spacing: -1px;
  text-shadow: -1px 2px 0 rgba(0,0,0,0.10);
}

.card-img {
  position: relative;
  width: 100%;
}

.card-liquid {
  position: absolute;
  height: 87%;
  width: 90%;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%) rotate(180deg);
  @media (min-width: 800px) {
    transform: translate(-50%) rotate(180deg);
  }
  &--bgr {
    background-color: rgba(240,240,240,0.8);
  }
  &--card {
    height: 85%;
    bottom: 0.8rem;
    transform: translate(-50%) rotate(180deg);
  }
}

.card-cream {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -25%;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transform-origin: center;
  animation-fill-mode: forwards;
  &--card {transform: translateX(-50%) scale(1);}
}

.inner-liquid {
  width: 100%;
  animation-timing-function: cubic-bezier(.2,.6,.8);
  animation-fill-mode: forwards;
  // &--card {height:100%}
}

.inner-cream {
  width: 100%;
  animation-timing-function: cubic-bezier(.8,1);
  animation-fill-mode: forwards;
  // &--card {height:100%}
}

.cup-img {
  position: relative;
}

.text-wrapper {
  border-radius: 10px 10px 0 0;
  background-color: white;
  padding: 3rem 1.5rem;
  box-shadow: 0 5px 7px 0 rgba(0,0,0,0.10), 0 5px 15px 0 rgba(0,0,0,0.10);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  color: #282828;
  font-size: 14px;
  @media (min-width: 800px) {
    padding: 2rem;
  }
}

.img-wrapper {
  padding: 3rem;
  @media (min-width: 800px) {
    padding: 4rem;
  }
}

.section-title-wrapper {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    background-color: rgb(240,240,240);
  }
  .section-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
    letter-spacing: 0.25em;
    background-color: white;
    padding-right: 0.5rem;
    display: inline-block;
    position: relative;
    z-index: 10;
  }
}

.ingredients-list {
  padding-left: 0;
  margin-bottom: 2rem;
  li {
    list-style: none;
    margin-bottom: 0.5em;
  }
  .ingredients-qty {
    text-align: right;
    padding-right: 15px;
    text-transform: uppercase;
    font-size: 11px;
    color: #9B9B9B;
    padding-top: 3px
  }
}

.steps-list {
  padding-left: 0;
  li {
    list-style: none;
    margin-bottom: 1em;
  }
}

.uppercase {
  text-transform: uppercase;
}

@keyframes liquidFill {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes creamFill {
  0% {
    height: 0;
  }
  100% {
    height: 90%;
  }
}

@keyframes jello {
  11.1% {
    transform: translateX(-50%) scale(0);
    top: -25%;
    opacity: 0
  }
  33.3% {
    transform: translateX(-50%);
    top: -44%;
    opacity: 1
  }
  44.4% {
    transform: translateX(-50%) skewX(-12.5deg)
  }
  51.5% {
    transform: translateX(-50%) skewX(6.25deg)
  }
  55.5% {
    transform: translateX(-50%) skewX(-3.125deg)
  }
  61.5% {
    transform: translateX(-50%) skewX(1.5625deg)
  }
  66.6% {
    transform: translateX(-50%) skewX(-0.78125deg)
  }
  77.7% {
    transform: translateX(-50%) skewX(0.390625deg)
  }
  88.8% {
    transform: translateX(-50%) skewX(-0.1953125deg)
  }
  100% {
    transform: translateX(-50%);
    top: -44%;
    opacity: 1
  }
}
