// @import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300|Montserrat');

@font-face {
  font-family: 'Archer';
  src: url('Archer-Book-Pro.otf');
}


@font-face {
  font-family: 'Brandon';
  src: url('Brandon_med.otf');
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font-family: 'Archer', Helvetica, Arial, sans-serif;
  font-size: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}
